main {
    /* height: 800px; */
}

.main__main-block {
    padding-top: 322px;
    position: relative;
    padding-bottom: 231px;
}

.main-block__body {
    width: 488px;

    position: relative;
    z-index: 2;
}

.main-block__welcome p{
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;

    color: #D67E35;

    text-align: center;
}

.main-block__welcome p:first-child {
    font-size: 50px;
    margin-bottom: 10px;
}

.main-block__welcome p:last-child {
    font-size: 80px;
    margin-bottom: 15px;
}

.main-block__name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    
    text-transform: uppercase;

    text-align: center;

    color: #FFFFFF;
}

.main-block__name::before,
.main-block__name::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: white;
    margin: 0 10px;
    vertical-align: middle;
}

.main-block__button {
    margin: 20px auto;
    width: 180px;
}

.main-block__image {
    position: absolute;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

}

/* ---------- Advantages ------------- */

.main__advantages {
    position: relative;
    margin-top: -107px;
}

.advantages__body {
    display: flex;
    /* justify-content: space-between; */
    margin: 0 -15px;
}

.advantages__column {
    padding: 0 15px;
    flex: 0 1 33.33%;
}

.advantages__item {
    background-color: #ffffff;
    /* width: 349px; */
    min-height: 328px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);

    padding: 0 20px;
}

.advantages__image{
    text-align: center;
    padding-top: 48px;
}

.advantages__header {
    text-align: center;
    padding-top: 5px;

    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #2C2C2C;
}

.advantages__header span {
    color: #BC9060;
}

.advantages__text {
    text-align: center;
    padding-top: 20px;

    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;

    color: #656363;

}

/* ---------- Adaptive ------------- */

@media (max-width: 700px) {
    .main-block__body {
        width: auto;
    }

    .main-block__welcome p:first-child {
        font-size: 8vw;
    }
    
    .main-block__welcome p:last-child {
        font-size: 14vw;
    }

    .main-block__name {
        margin-bottom: 17vw;
        font-size: 5vw;
    }

    .main-block__name::after,
    .main-block__name::before {
        display: none;
    }

    .main-block__button {
        width: 40vw;
        height: 14vw;
        font-size: 4vw;
    }

}

@media (max-width: 1013px){
    .advantages__body {
        flex-wrap: wrap;
    }

    .advantages__column {
        flex: 0 1 46%;
        padding-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .advantages__column {
        flex: 0 1 100%;
    }
}